USE [master]
GO
/****** Object:  Database [DATAOCR]    Script Date: 4/9/2021 2:11:21 PM ******/
CREATE DATABASE [DATAOCR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATAOCR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DATAOCR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATAOCR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DATAOCR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATAOCR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATAOCR]
GO
/****** Object:  Table [dbo].[FileMain]    Script Date: 4/9/2021 2:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileMain](
	[file_id] [int] IDENTITY(1,1) NOT NULL,
	[file_circular] [int] NULL,
	[file_form] [int] NULL,
	[file_startday] [datetime] NULL,
	[file_endday] [datetime] NULL,
	[file_datecreate] [datetime] NULL,
	[file_status] [int] NULL,
	[file_key] [nvarchar](max) NULL,
	[file_img] [nvarchar](max) NULL,
	[file_company] [nvarchar](max) NULL,
 CONSTRAINT [PK_FileMain] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemMain]    Script Date: 4/9/2021 2:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMain](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [nvarchar](1000) NULL,
	[item_vo] [money] NULL,
	[item_vi] [money] NULL,
	[file_id] [int] NULL,
	[item_img] [nvarchar](max) NULL,
	[item_code] [int] NULL,
	[item_watched] [bit] NULL,
	[notSee] [bit] NULL,
	[table_id] [int] NULL,
	[item_mvo] [varchar](max) NULL,
	[item_mvi] [nvarchar](max) NULL,
	[item_pro] [float] NULL,
	[item_datecreate] [datetime] NULL,
	[item_dateupdate] [datetime] NULL,
	[item_x0] [int] NULL,
	[item_y0] [int] NULL,
	[item_x1] [int] NULL,
	[item_y1] [int] NULL,
	[item_target] [nvarchar](max) NULL,
	[item_codeitem] [varchar](max) NULL,
 CONSTRAINT [PK_ItemMain] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableMain]    Script Date: 4/9/2021 2:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableMain](
	[table_id] [int] IDENTITY(1,1) NOT NULL,
	[table_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_TableMain] PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FileMain] ON 

INSERT [dbo].[FileMain] ([file_id], [file_circular], [file_form], [file_startday], [file_endday], [file_datecreate], [file_status], [file_key], [file_img], [file_company]) VALUES (2117, 200, 1, CAST(N'2021-04-10T00:00:00.000' AS DateTime), CAST(N'2021-04-24T00:00:00.000' AS DateTime), CAST(N'2021-04-04T20:57:28.050' AS DateTime), 1, N'905f49ab-6610-4ca5-a838-b7ea1df3b3ff', N'905f49ab-6610-4ca5-a838-b7ea1df3b3ff2021-04-04_20-36-47.jpg', NULL)
INSERT [dbo].[FileMain] ([file_id], [file_circular], [file_form], [file_startday], [file_endday], [file_datecreate], [file_status], [file_key], [file_img], [file_company]) VALUES (2118, 200, 1, CAST(N'2021-04-02T00:00:00.000' AS DateTime), CAST(N'2021-04-21T00:00:00.000' AS DateTime), CAST(N'2021-04-05T08:29:58.463' AS DateTime), 1, N'eefac2ce-4029-448f-b867-e2643dda5838', N'eefac2ce-4029-448f-b867-e2643dda58382021-04-04_20-36-47.jpg', NULL)
INSERT [dbo].[FileMain] ([file_id], [file_circular], [file_form], [file_startday], [file_endday], [file_datecreate], [file_status], [file_key], [file_img], [file_company]) VALUES (2119, 200, 2, CAST(N'2021-04-10T00:00:00.000' AS DateTime), CAST(N'2021-04-30T00:00:00.000' AS DateTime), CAST(N'2021-04-05T12:50:57.917' AS DateTime), 1, N'd0a94d77-6ac9-4c9d-b6e5-8beaf30fd833', N'd0a94d77-6ac9-4c9d-b6e5-8beaf30fd8332021-04-04_20-36-47.jpg', NULL)
SET IDENTITY_INSERT [dbo].[FileMain] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemMain] ON 

INSERT [dbo].[ItemMain] ([item_id], [item_name], [item_vo], [item_vi], [file_id], [item_img], [item_code], [item_watched], [notSee], [table_id], [item_mvo], [item_mvi], [item_pro], [item_datecreate], [item_dateupdate], [item_x0], [item_y0], [item_x1], [item_y1], [item_target], [item_codeitem]) VALUES (4601, NULL, NULL, NULL, 2125, N'3e16382e-1f59-457e-9a98-cf1e7dc4ac05.png', NULL, 0, 0, 1, N'7.791,456,393', N'7.791,456,393', 27.52178955078125, CAST(N'2021-04-05T14:23:16.260' AS DateTime), NULL, 1574, 7, 1788, 62, N'A. TÀI SẢN NGẮN HẠN (100 = 110 120 130 140 150) \', N'100')
INSERT [dbo].[ItemMain] ([item_id], [item_name], [item_vo], [item_vi], [file_id], [item_img], [item_code], [item_watched], [notSee], [table_id], [item_mvo], [item_mvi], [item_pro], [item_datecreate], [item_dateupdate], [item_x0], [item_y0], [item_x1], [item_y1], [item_target], [item_codeitem]) VALUES (4602, NULL, NULL, NULL, 2125, N'97b5cb1b-8804-481b-93fc-4408588edbc7.png', NULL, 0, 0, 1, N'2.517,125,061', N'2.517,125,061', 49.982162475585938, CAST(N'2021-04-05T14:23:16.517' AS DateTime), NULL, 1574, 96, 1787, 127, N'I. TÊN VÀ CÁC KHOẢN TƯƠNG ĐƯƠNG TIỀN', N'110')
INSERT [dbo].[ItemMain] ([item_id], [item_name], [item_vo], [item_vi], [file_id], [item_img], [item_code], [item_watched], [notSee], [table_id], [item_mvo], [item_mvi], [item_pro], [item_datecreate], [item_dateupdate], [item_x0], [item_y0], [item_x1], [item_y1], [item_target], [item_codeitem]) VALUES (4603, NULL, NULL, NULL, 2125, N'1c05641c-b51b-4d4d-a8e6-676ba103a7d6.png', NULL, 0, 0, 1, N'2.517,125,061', N'2.517,125,061', 42.441360473632812, CAST(N'2021-04-05T14:23:16.663' AS DateTime), NULL, 1574, 166, 1787, 197, N'1. Tiền', N'111')
INSERT [dbo].[ItemMain] ([item_id], [item_name], [item_vo], [item_vi], [file_id], [item_img], [item_code], [item_watched], [notSee], [table_id], [item_mvo], [item_mvi], [item_pro], [item_datecreate], [item_dateupdate], [item_x0], [item_y0], [item_x1], [item_y1], [item_target], [item_codeitem]) VALUES (4604, NULL, NULL, NULL, 2125, N'c7922207-6b78-4d06-a5c7-1e79497f936d.png', NULL, 0, 0, 1, N'-', N'-', 96.605438232421875, CAST(N'2021-04-05T14:23:16.807' AS DateTime), NULL, 1741, 250, 1751, 254, N'2. Các khoản tương đương tiền-', N'112')
INSERT [dbo].[ItemMain] ([item_id], [item_name], [item_vo], [item_vi], [file_id], [item_img], [item_code], [item_watched], [notSee], [table_id], [item_mvo], [item_mvi], [item_pro], [item_datecreate], [item_dateupdate], [item_x0], [item_y0], [item_x1], [item_y1], [item_target], [item_codeitem]) VALUES (4650, NULL, NULL, NULL, 2128, N'91ff5efc-7e67-4687-8cfc-12b362c2f094.png', NULL, 0, 0, 1, N'7.791,456,393', N'7.791,456,393', 27.52178955078125, CAST(N'2021-04-05T14:43:07.867' AS DateTime), NULL, 1574, 7, 1788, 62, N'A. TÀI SẢN NGẮN HẠN (100 = 110 120 130 140 150) \', N'100')
INSERT [dbo].[ItemMain] ([item_id], [item_name], [item_vo], [item_vi], [file_id], [item_img], [item_code], [item_watched], [notSee], [table_id], [item_mvo], [item_mvi], [item_pro], [item_datecreate], [item_dateupdate], [item_x0], [item_y0], [item_x1], [item_y1], [item_target], [item_codeitem]) VALUES (4699, NULL, NULL, NULL, 2129, N'cce2dfc5-7b6e-4fd7-ab6f-d7135be7fdc0.png', NULL, 0, 0, 1, N'7.791,456,393', N'7.791,456,393', 27.52178955078125, CAST(N'2021-04-05T15:32:55.577' AS DateTime), NULL, 1574, 7, 1788, 62, N'A. TÀI SẢN NGẮN HẠN (100 = 110 120 130 140 150) \', N'100')
GO
INSERT [dbo].[ItemMain] ([item_id], [item_name], [item_vo], [item_vi], [file_id], [item_img], [item_code], [item_watched], [notSee], [table_id], [item_mvo], [item_mvi], [item_pro], [item_datecreate], [item_dateupdate], [item_x0], [item_y0], [item_x1], [item_y1], [item_target], [item_codeitem]) VALUES (5587, NULL, NULL, NULL, 3071, N'4ea65bf5-cd82-474a-8734-785b1d3b00d8.png', NULL, 0, 0, 1, N'7.791,456,393', N'7.791,456,393', 27.52178955078125, CAST(N'2021-04-09T13:10:18.313' AS DateTime), NULL, 1574, 7, 1788, 62, N'A. TÀI SẢN NGẮN HẠN (100 = 110 120 130 140 150) \', N'100')
GO
SET IDENTITY_INSERT [dbo].[ItemMain] OFF
GO
SET IDENTITY_INSERT [dbo].[TableMain] ON 

INSERT [dbo].[TableMain] ([table_id], [table_name]) VALUES (1, N'Báo cáo cân đối kế toán')
INSERT [dbo].[TableMain] ([table_id], [table_name]) VALUES (2, N'Báo cáo kết quả hoạt động kinh doanh')
INSERT [dbo].[TableMain] ([table_id], [table_name]) VALUES (3, N'Báo cáo lưu chuyển tiền tệ')
SET IDENTITY_INSERT [dbo].[TableMain] OFF
GO
ALTER TABLE [dbo].[ItemMain]  WITH CHECK ADD  CONSTRAINT [FK_ItemMain_FileMain] FOREIGN KEY([file_id])
REFERENCES [dbo].[FileMain] ([file_id])
GO
ALTER TABLE [dbo].[ItemMain] CHECK CONSTRAINT [FK_ItemMain_FileMain]
GO
ALTER TABLE [dbo].[ItemMain]  WITH CHECK ADD  CONSTRAINT [FK_ItemMain_TableMain] FOREIGN KEY([table_id])
REFERENCES [dbo].[TableMain] ([table_id])
GO
ALTER TABLE [dbo].[ItemMain] CHECK CONSTRAINT [FK_ItemMain_TableMain]
GO
USE [master]
GO
